@use 'src/variables' as v;
@use 'src/mixins' as m;

.player {
    @include m.d-flex(row, center, center);

    cursor: pointer;

    span {
        padding-left: 16px;
        color: white;
    }

    img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 100%;
        background-color: rgb(252, 207, 207);
        content: url("/assets/img/player_female2.png");

        &.male {
            background-color: rgb(207, 236, 252);
            content: url("/assets/img/player_male2.png");
        }
    }
}