@use 'src/variables' as v;
@use 'src/mixins' as m;

.field {
    @include m.full-size;
    @include m.d-flex(column, center, center);

    background-image: url('../../assets/img/ringOfFire.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);

    .card-stack {
        position: relative;
        filter: brightness(1.8) drop-shadow(29px 11px 10px #000);

        img {
            position: absolute;
            width: 160px;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2) translate(-20px, -10px);
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    transform: scale(1.5) !important;
}