/* colors */
$c1: #404040;
$c2: rgba(242, 223, 166, 1);
$c3: rgb(250, 40, 89);


// //properties
// $bdr: 5px;
// $header-height: 10vh; //90px;
// $header-height: 10vmax; //90px;
// $base-padding: 10%;  //120px
// $head-radius: 60px;