@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
//@import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';


html {
    font-size: min(3.3vmin, 28px);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    line-height: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}